.navication ul li {
    list-style: none;
    display: inline-block;
    margin-right: 25px;
}
.posts img {
    width: 100%;
    height: 350px;
    margin-bottom: 10px;
}
.posts h2 a {
    color: #666666;
    font-weight: normal;
}
.blogPost input {
    margin-bottom: 10px;
}
table {
    border: 1px solid #666666;
}