<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Create Date</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="post in postList">
            <td>{{ post.id }}</td>
            <td>{{ post.tilte }}</td>
            <td>{{ post.create_at }}</td>
            <td><a href="#!/update/{{ post.id }}" class="btn btn-success btn-xs" >Update</a></td>
            <td><button class="btn btn-danger btn-xs" ng-click="remove(post.id)" >Delete</button></td>
        </tr>
    </tbody>
</table>